header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}
body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("images/dark-wood.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
    margin: 0px;
}
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: hsl(61, 100%, 82%);}
header {
	height: 160px;
    background-image: url(images/header.png);}
.logo {
    font-size: xx-large;
    font-style: oblique;
    padding: 30px 0 30px 10px;
    color: #000000;
    float: inline-start;
}
nav, footer {
	clear: both;
	color: hsl(0, 0%, 0%);
	background-color: rgb(214, 229, 145);
	height: 30px;}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
nav li {
	display: inline;
	margin-right: 40px;}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
section.courses {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;}
article {
   
    overflow: auto;
    height: 15cm;
    width: 85%;
}
hgroup {
	margin-top: 40px;}
figure {
	float: right;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
figcaption {
	font-size: 90%;
	text-align: left;}
aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;}
aside section a {
	display: block;
	padding: 10px;
    border-bottom: 1px solid #eeeeee;}
    
aside section a:hover {
	color: #985d6a;
    background-color: #efefef;
    float: right;
}

a {
	color: #de6581;
	text-decoration: none;}
h1, h2, h3 {
	font-weight: normal;}
h2 {
	margin: 20px 20px 5px 0px;
    padding: 0px;
    float: right;
}
h3 {
	margin: 10px 20px 10px 0px;
    color: #de6581;
    float: RIGHT;
}
aside h2 {
	padding: 30px 0px 10px 0px;
	color: #de6581;}
footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;}
